@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
.heroimg{
  width: 100%;
  height: 70vh;
  background-image: url(../../assets/løb.jpeg);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 69%);
  h1{
    margin: 0;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    width: 80%;
    padding-top: 3vh;
    margin: auto;
    font-size: calc(90px + 60 * ((100vw - 320px) / 680));
    text-align: center;
  }
}
.search{
  width: 70%;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(calc(100px + 30 * ((100vw - 320px) / 680)), 1fr));
  grid-auto-rows: auto;
  margin:auto;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 100px;
  left: 15%;
  border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-webkit-box-shadow:0px 0px 8px 2px #000000 ;
-moz-box-shadow:0px 0px 8px 2px #000000 ;
box-shadow:0px 0px 8px 2px #000000 ;
background-color: white;
z-index: 2;
.searchitem{
  display: grid;
  text-align:left;
  padding: 15px 5%;
  height: calc(100px - 15 * ((100vw - 320px) / 680));
  position: relative;
  overflow: hidden;
  font-size: 14px;
  strong{
    font-size: 16px;
    font-weight: 600;
  }
  button{
    color: white;
    background-color: red;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 22%;
  }
}
.first{
  background-color: rgba(131, 131, 131, 0.363);
  border-right: 1px solid rgb(128, 128, 128);
}
}
.heroimage{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
.header{
  position: absolute;
  top: 50%;
  left: 15%;
  width: 60%;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
  color: white;
  z-index: 2;
  letter-spacing: 2px;
  font-weight: 300;
  -webkit-border-radius: 0px 0px 100px 0px;
  border-radius: 0px 0px 100px 0px;
  background: rgb(0,11,40);
  background: linear-gradient(90deg, rgba(0,11,40,1) 0%, rgba(0,12,38,0.7402311266303396) 50%);
  h2{
    font-weight: 300;
    padding-left: 10px;
  }
}
h4{
  font-family: 'Open Sans', sans-serif;
  padding-left: 10%;
  margin-top: 10vh;
  color: rgb(73, 73, 73);
}
.header2{
  width: 80%;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  margin: auto;
  margin-top: 2vh;
  color: rgb(99, 99, 99);
  font-weight: 600;
  font-size: 30px;
}
.desc{
  width: 80%;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: rgb(99, 99, 99);
  border-bottom:5px dashed rgb(128, 128, 128);
  p{
    width: 80%;
  }
}
.login-form {
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin-left: 10%;
  margin-top: 5vh;
  font-family: 'Open Sans', sans-serif;
  color: rgb(99, 99, 99);
  label{
    display: inline-block;
    margin-bottom: 5px;
  }
  .red{
    color: red;
  }
  input {
    font-family: 'Open Sans', sans-serif;
    outline: 0;
    background: #ffffff;
    width: 100%;
    border: 0;
    margin: 0 0 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #29235C;
  }
  button {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: red;
    width: 25%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 5px;
  }
  button:hover {
    background: rgba(255, 0, 0, 0.562);
    transition: 0.3s;
    transform: scale(1.05);
  }
  button:active{
    transform: scale(0.9);
  }
  .button2{
    margin-left: 20px;
  }
  }
