<div class="heroimg">
  <h1>RØRDAL <br> RUN</h1>
</div>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
  <label class="username-label" for="username">Brugernavn:<span class="red">*</span></label>
  <input (focus)="focus()" type="text" name="username" id="username" formControlName="username" placeholder="Indtast dit brugernavn" />
  <label class="password-label" for="password">Adgangskode:<span class="red">*</span></label>
  <input (focus)="focus()" type="password" name="password" id="password" formControlName="password" placeholder="Indtast din adgangskode" />
  <button type="login">Login</button><button class="button2" type="login">Annuler</button>
  <p class="error"></p>
</form>
